services:
  - type: web
    name: air-du-vol
    runtime: python
    startCommand: >
      cd louis/dblouis &&
      python manage.py migrate --no-input &&
      cd ../.. &&
      gunicorn wsgi:application --bind 0.0.0.0:$PORT
    buildCommand: >
      pip install --upgrade pip &&
      pip install -r requirements.txt &&
      cd louis/dblouis &&
      python manage.py collectstatic --no-input &&
      cd ../..
    envVars:
      - key: PYTHON_VERSION
        value: 3.13
      - key: PYTHONUNBUFFERED
        value: 1
      - key: DEBUG
        value: false
      - key: ALLOWED_HOSTS
        value: "*"
    staticPublicPath: /static
    staticDir: louis/dblouis/staticfiles
