services:
  - type: web
    name: club-web-django
    env: python
    region: frankfurt
    plan: free
    buildCommand: bash build.sh
    startCommand: gunicorn dblouis.wsgi:application --bind 0.0.0.0:$PORT
    envVars:
      - key: DATABASE_URL
        fromDatabase:
          name: club-web-db
          property: connectionString
      - key: SECRET_KEY
        generateValue: true
      - key: DEBUG
        value: "False"
      - key: ALLOWED_HOSTS
        value: "*.onrender.com"
      - key: DJANGO_SETTINGS_MODULE
        value: dblouis.settings

databases:
  - name: club-web-db
    databaseName: clubwebdb
    user: clubwebuser
    region: frankfurt
    plan: free
